# Go build artifacts
/bin/
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (vendor directories containing a vendored copy of
# dependencies)
/vendor/

# Go workspace file
go.work

# IDE
.idea/
.vscode/
